
  <div id= "makePretty">
    <h2>The Weather in {{this.name}} is: </h2>
    <img src="http://openweathermap.org/img/w/{{this.weather.0.icon}}.png">
    <h3>Temperature: {{this.main.temp}}</h3>
    <h3>Description: {{this.weather.0.description}}</h3>
    <h3>Air Pressure: {{this.main.pressure}}</h3>
    <h3>Wind Speed: {{this.wind.speed}}</h3>
    <div class="row">
      <div class="col-sm-12">
      </div>
    </div>
  </div>
